<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="">高级软件工程</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">主页</a></li>
        <li><a href="/about">关于</a></li>
        <li><a href="/studentInfo">数据</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
      <div class="row">
        <p id="notice"><%= notice %></p>
        <table class="table table-striped">
          <caption><h2>当前学生列表</h2></caption>
          <thead>
              <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Major</th>
                <th>Email</th>
                <th colspan="3"></th>
              </tr>
          </thead>
          <tbody>
              <% @student_infos.each do |student_info| %>
              <tr>
                <td><%= student_info.name %></td>
                <td><%= student_info.number %></td>
                <td><%= student_info.major %></td>
                <td><%= student_info.email %></td>
                <td><%= link_to '编辑', edit_student_info_path(student_info) %></td>
                <td><%= link_to '删除', student_info, method: :delete, data: { confirm: '确定删除该学生信息?' } %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
      <br>
      <button type="button" class="btn btn-default" onClick="newStudent()">添加学生</button>

    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /ww -->


<!-- +++++ Footer Section +++++ -->
	
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p>中国科学院大学，北京, 中国</p>
			</div>
			
		</div>
	
	</div>
</div>
